{% extends 'base.html.twig' %}

{% block title %}Category List{% endblock %}

{% block body %}
    <div class="container">
        <div class="content">
            <h1>Categories</h1>
            <div class="adverts-grid">
                {% for category in categories %}
                    <div class="advert-card">
                        <div class="advert-title">{{ category.name }}</div>
                        <div class="advert-description">
                            {{ category.description|default('No description available.') }}
                        </div>
                        <div class="card-actions">
                            <a href="{{ path('app_adverts_list', { 'adverts_filter_form[category]': category.id }) }}" class="btn-view-adverts">
                                View Adverts Under This Category
                            </a>

                            {# Only show the Edit button if the user has ROLE_ADMIN #}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_category_edit', { 'id': category.id }) }}" class="btn btn-warning">
                                    Edit Category
                                </a>
                                <button type="button" class="delete-button" onclick="showConfirm('{{ category.id }}')">Delete</button>

                                <!-- Delete Confirmation Modal -->
                                <div id="confirmModal{{ category.id }}" class="custom-modal hidden">
                                    <div class="custom-modal-content">
                                        <p>Are you sure you want to delete this category?</p>
                                        <p>This will delete all adverts with this category!</p>
                                        <form id="deleteForm{{ category.id }}" action="{{ path('app_category_delete', { id: category.id }) }}" method="post">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                                            <button type="submit" class="btn btn-danger">Yes</button>
                                            <button type="button" class="btn btn-secondary" onclick="hideConfirm('{{ category.id }}')">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="advert-card">
                        <p>No categories available at the moment.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{{ asset('js/confirmation-button-handling.js') }}"></script>
{% endblock %}
